# Ignore cache files
__pycache__/
*.pyc

# Ignore specific directories
music_generator/src/
abc_dir/
app/abc_dir/
src/
abc_dir/
app/abc_dir/
app/abc_dir/

# Ignore specific file types
*.sf2
*.mid
*.json
*.txt

# Ignore large files (common large file types)
*.zip
*.tar.gz
*.rar
*.7z
*.mp4
*.mp3
*.wav
*.flac
*.mov
*.avi
*.mkv

# Ignore binary files
*.exe
*.dll
*.so
*.bin
*.dat
*.o
*.a
*.lib
