# Ignore cache files
__pycache__/
/__pycache__/
*.pyc
*./ipynb

# Ignore specific directories
abc_dir/
abc_dir/
app/abc_dir/
app/abc_dir/
app/abc_dir/

src/checkpoints/
src/dataset/
src/tokenizer/

# Ignore specific file types
*.sf2
*.mid
*.json
*.txt

# Ignore large files (common large file types)
*.zip
*.tar.gz
*.rar
*.7z
*.mp4
*.mp3
*.wav
*.flac
*.mov
*.avi
*.mkv

# Ignore binary files
*.exe
*.dll
*.so
*.bin
*.dat
*.o
*.a
*.lib
